name: Docker

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * MON"
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log into Docker Hub registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log into GHCR registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get latest zrepl version
        run: |
          # Get the latest zrepl version
          latest_release=$(curl -s https://api.github.com/repos/zrepl/zrepl/releases/latest)
          ZREPL_VERSION=$(echo "$latest_release" | jq -r '.tag_name')
          echo "Latest zrepl version: $ZREPL_VERSION"
          echo ZREPL_VERSION=$ZREPL_VERSION >> $GITHUB_ENV

          latest_linux=$(echo "$latest_release" | jq -r '.assets.[] | select(.name | test("zrepl-linux-amd64"))')
          downloaded_url=$(echo $latest_linux |jq .browser_download_url --raw-output)
          echo "Latest linux amd64 download url: $downloaded_url"
          echo ZREPL_DOWNLOAD_URL=$downloaded_url >> $GITHUB_ENV
          digest=$(echo $latest_linux | jq .digest --raw-output)
          echo "Latest linux amd64 hash: $digest"
          echo ZREPL_DIGEST=$digest >> $GITHUB_ENV
      - name: Check if the image exists
        run: |
          if docker manifest inspect ghcr.io/${{ github.actor }}/zrepl:${{ env.ZREPL_VERSION }}; then
            IMAGE_EXISTS=true
          else
            IMAGE_EXISTS=false
          fi
          echo "Image exists: $IMAGE_EXISTS"
          echo IMAGE_EXISTS=$IMAGE_EXISTS >> $GITHUB_ENV
      - name: download zrepl
        if: ${{ env.IMAGE_EXISTS == 'false' || github.event_name != 'schedule' }}
        run: |
          mkdir -p bin
          curl -L -o bin/zrepl $ZREPL_DOWNLOAD_URL
          algorithm=$(echo $ZREPL_DIGEST | cut -d ":" -f 1)
          hash=$(echo $ZREPL_DIGEST | cut -d ":" -f 2)
          echo "$hash  bin/zrepl" | cksum --algorithm=$algorithm --check -

      - name: Set up Docker Buildx
        if: ${{ env.IMAGE_EXISTS == 'false' || github.event_name != 'schedule' }}
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: |
            ghcr.io/${{ github.actor }}/zrepl
            ${{ secrets.DOCKERHUB_USERNAME }}/zrepl
          labels: |
            org.opencontainers.image.title=zrepl
            org.opencontainers.image.description=One-stop ZFS backup & replication solution
            org.opencontainers.image.vendor=${{ github.actor }}
          tags: |
            ${{ env.ZREPL_VERSION }}
            latest

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
